---
layout: default
---

{% include base_path %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<main id="main" class="home" role="main" itemscope itemtype="http://schema.org/Person">
  <header class="home-intro">
    <div class="home-intro__text">
      <h1 class="home-intro__name" itemprop="name">{{ site.author.name }}</h1>
      <p class="home-intro__tagline">Incoming CS PhD student at UIUC &middot; AI for Software Engineering</p>
      <p class="home-intro__links">
        <a href="mailto:{{ site.author.email }}">Email</a><span> / </span>
        <a href="{{ base_path }}/files/CV.pdf">CV</a><span> / </span>
        <a href="{{ site.author.googlescholar }}">Google&nbsp;Scholar</a><span> / </span>
        <a href="https://github.com/{{ site.author.github }}">GitHub</a><span> / </span>
        <a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a><span> / </span>
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a>
      </p>
    </div>
    <div class="home-intro__photo">
      <img src="{{ base_path }}/images/{{ site.author.avatar }}" alt="Portrait of {{ site.author.name }}" itemprop="image">
    </div>
  </header>

  <div class="home-content page__content" itemprop="description">
    {{ content }}
  </div>
</main>
